.product-detail{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1000px;
    align-items: center;
    box-shadow: 0 0 5px rgb(0, 145, 255);
}