.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 250, 0.512);
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
}

.product img {
    width: 100px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
}

.nameAndOut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}