h1{
  text-align: center;
}
.countBtn{
  display: flex;
  justify-content: center;
  gap: 20px;
}
button{
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px gray;
  cursor: pointer;
}
.setCount{
  margin: 20px;
}
table {
  text-align: center;
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
}
th,td {
  border: 1px solid gray;
  padding: 10px;
}
th{
  background-color: lightgray;
}