.App {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 5px yellow;
  gap: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 5px red;
}
.lastword {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: blue;
}