h1{
    text-align: center;
}
.login{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    gap: 20px;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}